<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddIngredient(ingredientForm)" #ingredientForm="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input class="form-control"
            type="text"
            id="name"
            name="name"
            ngModel
            required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input class="form-control"
            type="number"
            id="amount"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$">
        </div>
        <div class="col-sm-2 form-group">
          <label for="unit">Unit</label>
          <input class="form-control"
            type="text"
            id="unit"
            name="unit"
            ngModel
            required>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-xs-12">
          <button class="btn btn-success me-2" type="submit" [disabled]="ingredientForm.invalid">{{ newMode ? 'Add' : 'Update' }}</button>
          <button class="btn btn-danger me-2" type="button" [disabled]="newMode" (click)="onDeleteIngredient(ingredientForm)">Delete</button>
          <button class="btn btn-primary" type="button" (click)="clearInputs(ingredientForm)">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
